[Unit]
Description=Bot Serivce
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/root/bot
ExecStart=/root/bot/venv/bin/python app.py

[Install]
WantedBy=multi-user.target