[Unit]
Description=Samarkand24 Serivce
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/root/samarkand24
ExecStart=/root/samarkand24/venv/bin/uvicorn main:app --host 0.0.0.0
--port 8000 --ssl-keyfile=/etc/letsencrypt/live/samarkand24.live/privkey.pem --ssl-certfile=/etc/letsencrypt/live/samarkand24.live/fullchain.pem
[Install]
WantedBy=multi-user.target