[Unit]
Description=Web Dash Serivce
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/root/aiogram_example
ExecStart=/root/aiogram_example/venv/bin/uvicorn main:app --host 0.0.0.0
[Install]
WantedBy=multi-user.target